@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:ital,wght@0,400;0,700;1,500&display=swap");
:root {
  --big-font-size: 3rem;
  --medium-font-size: 1.5rem;
  --sub-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --tiny-font-size: 0.75rem;
}

@media screen and (max-width: 767.98px) {
  :root {
    --big-font-size: 1.5rem;
    --medium-font-size: 1.125rem;
    --sub-font-size: 1rem;
    --normal-font-size: 0.875rem;
    --small-font-size: 0.75rem;
    --tiny-font-size: 0.625rem;
  }
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--normal-font-size);
  background-color: #f8f8f8;
  color: #0a0b13;
}

h1,
h2,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding: 2rem 0 0;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  width: calc(100% - 1rem);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-header {
  width: 100%;
  padding-top: 2rem;
}

.header__title {
  font-family: "Playfair Display", serif;
  font-size: var(--big-font-size);
  color: #0a0b13;
  margin-bottom: 0.675rem;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__text img {
  width: 15px;
  height: 15px;
  margin-right: 1rem;
  margin-top: 0.2rem;
}

.header__text p {
  font-size: var(--normal-font-size);
}

.ingredients {
  row-gap: 1rem;
}

.ingredients aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.ingredients__title {
  font-family: "Playfair Display", serif;
  font-size: var(--medium-font-size);
  font-weight: 700;
}

.ingredients__sub-title {
  font-family: "Playfair Display", serif;
  font-size: var(--normal-font-size);
  font-weight: 400;
  padding: 0.875rem 0 1.4rem;
  font-style: italic;
}

.ingredients__checklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.675rem;
}

.ingredients__checklist div {
  margin-right: 0.5rem;
}

.ingredients__checklist div input[type="checkbox"] {
  display: block;
  width: 18px;
  height: 18px;
}

.ingredients__checklist label {
  font-size: var(--normal-font-size);
  color: #333;
}

.ingredients__checklist label span {
  font-weight: 700;
}

.ingredients__serv {
  width: 100%;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ingredients__prepare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.75rem 1rem 0;
}

.ingredients__prepare .ingredients__icon {
  width: 24px;
  margin-right: 0.5rem;
}

.ingredients__prepare .prepare__icon {
  font-size: 24px;
  color: #4f4f4f;
}

.ingredients__prepare:nth-child(1) .prepare__icon {
  color: #f2994a;
}

.ingredients__prepare:nth-child(1) div span {
  color: #f2994a;
}

.ingredients__prepare div h4 {
  font-size: var(--tiny-font-size);
  text-transform: uppercase;
  color: #bdbdbd;
  font-weight: 700;
}

.ingredients__prepare div span {
  font-size: var(--small-font-size);
  color: #333;
  font-weight: 500;
}

.instruction {
  row-gap: 1rem;
}

.instruction__list {
  list-style: none;
  padding: 0;
  counter-reset: orderedlist;
}

.instruction__list li {
  margin-bottom: 0.75rem;
  font-size: var(--normal-font-size);
  color: #333;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0 1fr;
      grid-template-columns: 0 1fr;
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.instruction__list li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #f2994a;
  color: #f8f8f8;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  border-radius: 0.4rem;
}

.source__link {
  color: #bdbdbd;
  font-size: var(--small-font-size);
  border-left: 3px solid #bdbdbd;
  padding-left: 0.25rem;
}

.footer {
  width: 100%;
  padding: 3rem 0 0.5rem;
}

.footer p {
  font-size: var(--normal-font-size);
  color: #bdbdbd;
  font-weight: 500;
  text-align: center;
}

.footer p a {
  color: violet;
}

@media screen and (min-width: 768.98px) {
  .header__content {
    margin-left: auto;
    margin-right: auto;
  }
  .header__text p {
    width: 640px;
  }
  .img-section {
    margin-left: auto;
    margin-right: auto;
  }
  .ingredients {
    margin-right: auto;
    margin-left: auto;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    row-gap: 0;
  }
  .ingredients aside {
    grid-area: auto;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .ingredients__serv {
    width: 216px;
    height: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-radius: 0.75rem;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding-left: 3rem;
  }
  .ingredients__prepare {
    margin: 0;
    margin-bottom: 1.5rem;
  }
  .ingredients__prepare:last-child {
    margin-bottom: 0;
  }
  .instruction {
    margin-left: auto;
    margin-right: auto;
  }
  .instruction li {
    margin-bottom: 1rem;
  }
  .footer {
    padding-top: 5rem;
  }
}
